@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Pathway+Extreme:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --secondary-color: #0565D6;
    --optional-color:#808080;
}
body{
  height: 100%;
  width: 100%;
    font-family: 'Pathway Extreme',sans-serif;
    background-image: linear-gradient(to right, #0e0d13, #021930);
}
.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .video-wrapper {
    margin-bottom: 20px; 
  }
  
  .video1 {
    min-height: 200px;
    min-width: 200px;
  }
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
button {
height: 30px;
width: 60px;
color: #ffffff;
background-color: var(--secondary-color);
}